@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700');

$futura-red: #f15c5e;
$fr: #f15c5e;

$futura-purple: #5E4B63;
$fp: #5E4B63;
$flp: #7c6383;
$felp: #a28ba7;

$fp: #5E4B63;
$flp: #7c6383;
$felp: #a28ba7;

$r: #f15c5e;
$dr: #D95C5E;

$elp: #6e5874;
$lp: #69536F;
$p: #5E4B63;
$dp: #524257;
$edp: #453749;

$y: #F7D372;
$dy: #E6C97B;

$lb: #8abcdb;
$b: #85B9D9;
$db: #76A6C4;

$g: #5BD89E;
$dg: #6CC69C;

$w: #FFF;
$w1: #F5F5F5;
$w2: #E8E8E8;

$b1: #3C3C3C;
$b2: #313131;

$z_depth_0: 0px 0px 0px #FFF;
$z_depth_1: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
$z_depth_2: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
$z_depth_3: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
$z_depth_4: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
$z_depth_5: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px;
