@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700');

$futura-red: #f15c5e;
$fr: #f15c5e;

$futura-purple: #5E4B63;
$fp: #5E4B63;
$flp: #7c6383;
$felp: #a28ba7;

$dark-grey: #433D4A;

$text: #666;

$edb: #1c567d;
$db: #2980b9;
$b: #3498db;
$lb: #67b2e4;
$elb: #93c8ec;
$eelb: #e9f4fb;
$lt: #6bd7e1;
$elt: #95e2e9; //#83DDE6; //$elt: #aae8ee;
$edp: #9763ab;
$dp: #8e44ad;
$p: #9b59b6;
$lp: #aa71c1;
$elp: #caa6d8;
$do: #d35400;
$o: #e67e22;
$edy: #f39c12;
$dy: #eab00c;
$y: #f1c40f;
$ly: #edd15e;
$ely: #F0D680; //$ely: #f4e1a4;
$edr: #a63326;
$dr: #c0392b;
$r: #e74c3c;
$dlr: #dd3c3f;
$lr: #f15c5e;
$elr: #f8a0a0; //#F89999; //$elr: #fab7b7;
$pi: #F86F84;
$dpi: #f0425c;
$elg: #8fd6b6;
$lg: #4fc08d;
$dlg: #3da978;
$g: #2ecc71;
$dg: #27ae60;
$w: #FFF;
$black: #2f3437;
$black1: #464e53;

$z_depth_0: 0px 0px 0px #FFF;
$z_depth_1: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
$z_depth_2: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
$z_depth_3: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px;
$z_depth_4: rgba(0, 0, 0, 0.247059) 0px 14px 45px, rgba(0, 0, 0, 0.219608) 0px 10px 18px;
$z_depth_5: rgba(0, 0, 0, 0.298039) 0px 19px 60px, rgba(0, 0, 0, 0.219608) 0px 15px 20px;
