@import "@/styles/constants.scss";

#front-section{
  position: relative;
  height: calc(100vh - 60px);
  box-shadow: $z_depth_1;
  user-select: none;
  @media screen and (max-width: 1000px){
    min-height: calc(50vh);
    height: auto;
  }
  #future-ribbon{
    position: absolute;
    bottom: 7%;
    right: 0px;
    background-color: $r;
    color: #FFF;
    padding: 20px 40px;
    font-size: 20px;
    box-shadow: $z_depth_1;
    font-weight: 600;
    @media screen and (max-width: 1300px){
      padding: 15px 30px;
    }
    @media screen and (max-width: 1000px){
      font-size: 16px;
      padding: 15px 30px;
    }
    @media screen and (max-width: 650px){
      font-size: 14px;
      padding: 10px 20px;
    }
    @media screen and (max-width: 540px){
      font-size: 12px;
      padding: 8px 16px;
    }
    @media screen and (max-width: 430px){

    }
    &:hover{
      background-color: $dr;
      cursor: pointer;
    }
    &:active{
      box-shadow: $z_depth_0;
    }
  }
  #punch-title{
    position: relative;
    // font-family: "fresno",sans-serif;
    font-weight: 600;
    color: $fp;
    font-size: 95px;
    // letter-spacing: 16px;
    @media screen and (max-width: 1300px){
      font-size: 75px;
    }
    @media screen and (max-width: 1000px){
      font-size: 55px;
    }
    @media screen and (max-width: 800px){
      font-size: 7vw;
    }
    @media screen and (max-width: 350px){
      font-size: 7vw;
    }
    .static{
    }
    .dynamic{
      // position: absolute;
      // bottom: -125px;
      // left: 0px;
      line-height: 150%;
      color: $fr;
    }
    .text-enter-active, .text-leave-active{
      transition: all 0.6s;
    }
    .text-enter{
      opacity: 0;
      // transform: translateY(-100%);
    }
    .text-leave-to{
      // transform: translateX(10px);
      opacity: 0;
      // transform: translateY(100%);
    }
  }
  #punch-sub-title{
    color: $fp;
    font-size: 42px;
    letter-spacing: 4px;
    font-weight: 600;
    margin-bottom: 60px;
  }
}
