@import "@/styles/constants.scss";

#message-section{
  width: 100%;
  height: 700px;
  position: relative;
  background-color: #FFF;
  // overflow-y: visible;
  // overflow-x: hidden;
  max-width: 100vw;
  // z-index: 5;
  // .swipe-enter-active, .swipe-leave-active {
  //   transition: all 1s;
  // }
  // .swipe-enter, .swipe-leave-to /* .list-leave-active below version 2.1.8 */ {
  //   opacity: 0;
  //   transform: translateY(30px);
  // }
  @media screen and (max-width: 1550px){
    height: 600px;
  }
  @media screen and (max-width: 1250px){
    height: 500px;
  }
  @media screen and (max-width: 1050px){
    height: 400px;
  }
  @media screen and (max-width: 750px){
    height: 340px;
  }
  #message-nav{
    z-index: 4;
    position: absolute;
    bottom: 50%;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateY(50%);
    @media screen and (max-width: 850px){
      right: 14px;
    }
    @media screen and (max-width: 540px){
      bottom: 0px;
      right: 50%;
      flex-direction: row;
      align-items: flex-end;
      transform: translateY(0%) translateX(50%);
    }
    .message-section{
      padding: 10px;
      @media screen and (max-width: 1250px){
        padding: 8px;
      }
      @media screen and (max-width: 1050px){
        padding: 6px;
      }
      &:hover{
        cursor: pointer;
      }
      .tab{
        width: 35px;
        height: 16px;
        background-color: #000;
        opacity: 0.1;
        // margin: 10px 0px;
        transition: transform 0.2s ease;
        @media screen and (max-width: 1700px){
          width: 30px;
          height: 14px;
          // margin: 8px 0px;
        }
        @media screen and (max-width: 1250px){
          width: 25px;
          height: 10px;
          // margin: 6px 0px;
        }
        @media screen and (max-width: 1050px){
          width: 20px;
          height: 8px;
          // margin-bottom: 10px;
        }
        @media screen and (max-width: 850px){
          width: 12px;
          height: 6px;
          // margin-bottom: 8px;
        }
        @media screen and (max-width: 540px){
          width: 16vw;
          height: 4px;
          // margin: 0px 5px;
          transition: width 0.4s ease;
        }
        // @media screen and (max-width: 380px){
        //   width: 10px;
        //   height: 4px;
        // }
        &.active{
          transform: translateX(-50%) scaleX(2);
          @media screen and (max-width: 540px){
            transform: translateX(0%) scaleX(1);
            width: 40vw;
          }
        }
        &:hover{
          transform: translateX(-25%) scaleX(1.5);
          @media screen and (max-width: 540px){
            transform: translateX(0%) scaleX(1);
          }
          &.active{
            transform: translateX(-50%) scaleX(2);
            @media screen and (max-width: 540px){
              transform: translateX(0%) scaleX(1);
              width: 40vw;
            }
          }
        }
      }
    }
  }
  .message-module{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    &.red{
      .slider{
        background-color: $r;
      }
      .background{
        background-color: $dr;
      }
    }
    &.blue{
      .slider{
        background-color: $b;
      }
      .background{
        background-color: $db;
      }
    }
    &.yellow{
      .slider{
        background-color: $y;
      }
      .background{
        background-color: $dy;
      }
    }
    $section_width: 40%;
    .swipe-out-enter, .swipe-out-leave-to{
      transform: translateX(-$section_width);
    }
    .swipe-out-leave-active, .swipe-out-enter-active{
      transition: all 1s ease;
    }
    .slider-container{
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      pointer-events: none;
      .slider{
        position: absolute;
        top: -10px;
        left: 0px;
        height: calc(100% + 20px);
        z-index: 1;
        width: $section_width;
        box-shadow: $z_depth_2;
      }
      .image-contrainer{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: $section_width;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        img{
          // height: 480px;
          width: 100%;
          max-width: 100%;
          max-height: 100%;
        }
        .fa{
          color: $w;
          font-size: 180px;
        }
      }
    }
    .background{
      // width: 100%;
      height: 100%;
      padding-left: $section_width;
      z-index: 0;
      transition: padding-left 1s ease;
      @media screen and (max-width: 540px){
        padding-left: 0px;
        // padding-right: 20px;
      }
      &.full{
        padding-left: 0px;
      }
      .message-container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .nav{
          position: absolute;
          top: 50%;
          color: #FFF;
          font-size: 2vw;
          opacity: 0.4;
          padding: 20px;
          transform: translateY(-50%);
          @media screen and (max-width: 870px){
            font-size: 3vw;
          }
          &:hover{
            opacity: 0.6;
            cursor: pointer;
          }
          &.next{
            right: 0.4vw;
            @media screen and (max-width: 870px){
              right: 0vw;
            }
          }
          &.previous{
            left: 0.4vw;
            @media screen and (max-width: 870px){
              left: 0vw;
            }
          }
        }
        .module{
          color: $w;
          padding-top: 20px;
          .title{
            margin-bottom: 24px;
            font-size: 46px;
            font-weight: 600;
            min-width: 800px;
            @media screen and (max-width: 1700px){
              font-size: 40px;
              min-width: 700px;
            }
            @media screen and (max-width: 1550px){
              font-size: 32px;
              min-width: 600px;
            }
            @media screen and (max-width: 1250px){
              font-size: 26px;
              min-width: 500px;
            }
            @media screen and (max-width: 1050px){
              font-size: 20px;
              min-width: 400px;
            }
            @media screen and (max-width: 870px){
              font-size: 18px;
              min-width: 350px;
              margin-bottom: 16px;
            }
            @media screen and (max-width: 750px){
              min-width: 300px;
              margin-bottom: 12px;
            }
            @media screen and (max-width: 650px){
              min-width: 250px;
            }
            @media screen and (max-width: 380px){
              min-width: 200px;
              font-size: 14px;
            }
          }
          .description{
            opacity: 1;
            overflow: hidden;
            max-width: 800px;
            font-size: 24px;
            font-weight: 500;
            @media screen and (max-width: 1700px){
              max-width: 700px;
            }
            @media screen and (max-width: 1550px){
              font-size: 20px;
              max-width: 600px;
            }
            @media screen and (max-width: 1250px){
              font-size: 18px;
              max-width: 500px;
            }
            @media screen and (max-width: 1050px){
              font-size: 14px;
              max-width: 400px;
            }
            @media screen and (max-width: 870px){
              font-size: 14px;
              max-width: 350px;
            }
            @media screen and (max-width: 750px){
              font-size: 12px;
              max-width: 300px;
            }
            @media screen and (max-width: 650px){
              max-width: 250px;
            }
            @media screen and (max-width: 380px){
              font-size: 10px;
              max-width: 200px;
            }
          }
          .message-learn-more, .message-back{
            color: #FFF;
            opacity: 0.5;
            // font-weight: 600;
            display: inline-block;
            margin-left: -6px;
            padding: 2px 6px;
            font-size: 24px;
            border-bottom: 2px solid rgba(0,0,0,0);
            font-weight: 500;
            @media screen and (max-width: 1550px){
              font-size: 20px;
            }
            @media screen and (max-width: 1250px){
              font-size: 18px;
            }
            @media screen and (max-width: 1050px){
              font-size: 16px;
            }
            @media screen and (max-width: 870px){
              font-size: 14px;
            }
            @media screen and (max-width: 750px){
              font-size: 12px;
            }
            @media screen and (max-width: 380px){
              font-size: 10px;
            }
            &:hover{
              cursor: pointer;
              // opacity: 0.25;
              // color: #FFF;
              border-bottom: 2px solid #FFF;
            }
          }
        }
      }
    }
  }
}
