@import "@/styles/constants.scss";

#terms-page{
  background-color: $b2;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  z-index: 0;
	.center-module {
    display: flex;
    align-items: center;
		.logo {
      width: 30px;
      margin-right: 20px;
		}
		.text-container {
			.thanks {
        color: #777;
        margin-bottom: 6px;
			}
			.terms {

			}
		}
	}
}
